body { background: #c3ad63; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 56px; display: flex; }
.block-config-0 { color: #71b5c; font-size: 13px; margin-bottom: 5px; }
.block-invoice-1 { color: #14600; font-size: 19px; margin-bottom: 5px; }
.block-invoice-2 { color: #b67c3f; font-size: 19px; margin-bottom: 5px; }
.block-sms-3 { color: #ad72b1; font-size: 20px; margin-bottom: 5px; }
.block-search-4 { color: #6e1244; font-size: 17px; margin-bottom: 5px; }